.side-menu {
    width: 256px;
    background-color: #4b5cb8;
  }
  
  .side-menu .logo-container {
    width: 70%;
    margin-bottom: 20px;
    margin: auto;
    padding: 20px 0;
  }
  
  .side-menu .ant-menu {
    background-color: #4b5cb8;
    border-right: 0;
    color: #fff;
  }
  
  .side-menu .ant-menu .ant-menu-item,
  .side-menu .ant-menu .ant-menu-submenu {
    color: #fff;
  }
  
  :where(.css-dev-only-do-not-override-apn68).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-apn68).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background-color: #4b5cb8 !important;
  }