@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-layout {
  flex-direction: inherit;
}

body {
  margin: 0;
  padding: 0;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light > .ant-menu {
  background-color: #4b5cb8;
}

.ant-menu-title-content {
  color: #ffffff;
}

.anticon .anticon-mail .ant-menu-item-icon {
  color: #ffffff;
}

.ant-menu-submenu-arrow {
  color: #ffffff !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-apn68).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: #48b9ff !important;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: #ffffff;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light .ant-menu-item,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  > .ant-menu
  .ant-menu-item,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-title {
  color: #ffffff;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  > .ant-menu
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)
  > .ant-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  > .ant-menu
  .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)
  > .ant-menu-submenu-title:hover {
  color: #ffffff;
}

.ant-menu-item-group-title {
  color: #ffffff !important;
  opacity: 0.6;
}

.ant-menu-item {
  margin: 10px 4px !important;
}

.ant-layout-content {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background-color: #4b5cb8 !important;
  color: #ffffff;
}

.dashboard {
  padding: 0 35px;
}

.dashboard .ant-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.dashboard h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

/* .ant-table-cell {
  background-color: #4B5CB8;
} */

.modal-list-transaction-tabs .ant-tabs-nav-list {
  width: 100%;
  justify-content: space-around;
}
.modal-list-transaction-tabs .ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 600;
  color: #666666;
}

.ant-input-number {
  width: 100% !important;
}
.ant-input-number-input,
.ant-select-selection-search-input,
.ant-select-single,
.ant-input,
.ant-picker.ant-picker-outlined {
  height: 40px !important;
}
.input-number-custom-total {
  width: 100%;
}
.input-number-custom .ant-input-number-handler-wrap,
.input-number-custom-total .ant-input-number-handler-wrap {
  display: none;
}

.input-number-custom .ant-input-number-input,
.input-number-custom-total .ant-input-number-input {
  /* text-align: center; */
}

.ant-table-thead th {
  color: white !important;
}
.aseet-progress .ant-progress-bg.ant-progress-bg-outer {
  height: 20px !important;
}

.custom-link-item:hover {
  background-color: #1677ff !important;
}